# ==============================
# IntelliJ IDEA
# ==============================
.idea/
*.iml
out/

# ==============================
# Java
# ==============================
*.class
*.jar
*.war
*.ear

# Build directories
target/
build/

# ==============================
# Gradle
# ==============================
.gradle/

# ==============================
# Maven
# ==============================
.mvn/
.mvn/wrapper/maven-wrapper.jar

# ==============================
# Eclipse
# ==============================
.project
.classpath
.settings/
.factorypath
.apt_generated/

# ==============================
# NetBeans
# ==============================
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# Kotlin
# ==============================
.kotlin/

# ==============================
# macOS
# ==============================
.DS_Store

# ==============================
# Logs
# ==============================
*.log